# Resend API Key
RESEND_API_KEY=your_resend_api_key

# SendGrid API Key
SENDGRID_API_KEY=your_sendgrid_api_key

# Sender email addresses
RESEND_SENDER_EMAIL=sender@resend.example.com
SENDGRID_SENDER_EMAIL=sender@sendgrid.example.com
